



ul{
    list-style-type: none;
    margin-top: 0em;
    margin-left: 0em;
    padding:0; 
    overflow:hidden;
    background-color: rgb(31, 81, 255); 
    z-index: 3;
    position:fixed;
    top:0; 
    left:0; 
    width: 100%;
    height: 60px; 
    opacity: 70%;
}



li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.image{
    width: 450px; 
    display: block;
    object-fit: contain;
    border-radius: 50%;
    
}

h2{
    position: relative; 
    top: 40px; 
    padding-bottom: 5px;
    font-size: 65px;
    color: navy; 
    font-weight: 300;
    font-style:arial ;
    text-align: center;
}

h3{
    position: relative; 
    top: 10px; 
    padding-bottom: 10px;
    font-size: 30px;
    color:#fb8500; 
    font-weight: 200;
    font-style:arial ;
    text-align: center;

}

.center{
    padding-left: 10rem;
    padding-right: 10rem;
}

.intro-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}

div{
    display: block;

}

body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 

}

a{
    color: rgb(30,144,255); 
    text-decoration: none;
}


.image{
    width: 450px; 
     
    display: block;
    object-fit: contain;
    border-radius: 50%;
    
}


